$bgcolor: hsl(40, 100%, 90%);
$primary-text: hsl(40, 50%, 65%);
$secondary-text: hsl(40, 26%, 34%);

$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;
